
.carousel .control-dots {
  border-radius: 10px;
}

.carousel .control-dots .dot {
  background: white; /* Change dot color to white */
  margin: 0 5px;
}

.carousel .control-dots .dot.selected {
  background: green; /* Change selected dot color to red (or any other color you prefer) */
}