/* index.css or App.css */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

html,body {
  margin: 0;
  font-family: 'Nunito Sans', Arial, sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

code {
  font-family: 'Nunito Sans', Arial, sans-serif;
}
.owl-theme .owl-dots {
  display: none;
}
.owl-theme .owl-nav {
  display: none;
}
